{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style/css.css">
    <title>TeamBild</title>
</head>
<body>
<section class="page">
    <header>
        <nav class="content">
            <a href="#">
                <img src="{% static 'img/header__logo.svg' %}" alt="">
            </a>
            <a href="#">О нас</a>
            <a href="#">Курсы</a>
            <a href="#">Новости</a>
            <a href="#">Вход/Регистрация</a>
        </nav>
    </header>
    <section>
        <div class="content">
            <div class="main__block">
                <a href="{{ humans.0.link }}"><img src="{{ humans.0.image.url }}" alt=""></a>
                <p class="left-align">{{ humans.0.text }}</p>
            </div>
            <div class="main__block">
                <p class="right-align">{{ humans.1.text }}</p>
                <a href="{{ humans.1.link }}"><img src="{{ humans.1.image.url }}" alt=""></a>
            </div>
            <div class="main__block">
                <a href="{{ humans.2.link }}"><img src="{{ humans.2.image.url }}" alt=""></a>
                <p class="left-align">{{ humans.2.text }}</p>
            </div>
            <div class="main__block">
                <p class="right-align">{{ humans.3.text }}</p>
                <a href="{{ humans.3.link }}"><img src="{{ humans.3.image.url }}" alt=""></a>
            </div>
            <div class="main__block">
                <a href="{{ humans.4.link }}"><img src="{{ humans.4.image.url }}" alt=""></a>
                <p class="left-align">{{ humans.4.text }}</p>
            </div>

            <div class="detales-btn">
                <a href="#">
                    <button class="hover">Подробнее</button>
                </a>
            </div>
        </div>
        <hr>
        <div class="content">
            <div class="footer">
                <p class="with">При поддержке</p>
                <a href="https://www.itc48.ru/">
                    <img src="{% static 'img/ITC.svg' %}" alt="">
                </a>

                <p class="date__footer">Липецк 2019</p>
            </div>
        </div>
    </section>
    <footer>

    </footer>
</section>

</body>
</html>